<!DOCTYPE html>
<html lang="tr">

<head>
     <title>Bütün Modellerimiz</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playwrite+NZ" />
     <link rel="stylesheet" href="/static/css/ButunModeller.css">
</head>

<body>

     <!-- Sidebar with image -->
     <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
          <div class="bgimg"></div>
     </nav>

     <!-- Hidden Sidebar (reveals when clicked on menu icon)-->
     <nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge"
          style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
          <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright"
               style="padding:0 12px;">
               <i class="fa fa-remove"></i>
          </a>

          <div class="w3-bar-block w3-center">
               <a href="IndexUyeGiris.html" class="w3-bar-item w3-button w3-hover-black"
                    style="font-size: 14px; color:aquamarine" onclick="closeNav()">Üye Girişi</a>
               <a href="UyeOlun.html" class="w3-bar-item w3-button w3-hover-black"
                    style="font-size: 14px; color:aquamarine" onclick="closeNav()">Yeni Üyelik Talebi</a>
               <a href="Sosyal.html" class="w3-bar-item w3-button w3-hover-black"
                    style="font-size: 14px; color:aquamarine" onclick="closeNav()">Sosyal Etkinliklerimiz</a>
               <a href="KullanimSartlari.html" class="w3-bar-item w3-button w3-hover-black"
                    style="font-size: 14px; color:aquamarine" onclick="closeNav()">Kullanım Kurallarımız</a>
               {% for Group in Groups: %}
               <a href="/Models/{{Group['GrubID']}}" class="w3-bar-item w3-button w3-hover-black"
                    style="font-size: 14px; color:rgb(207, 164, 186)" onclick="closeNav()">{{ Group['GrubAdi']
                    }}</a>
               {% endfor %}


     </nav>

     <!-- Page Content -->
     <div class="w3-main w3-padding-large" style="margin-left:40%">
          <!-- Menu icon to open sidebar -->
          <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black"
               style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

          <!-- Header -->
          <header class="w3-container w3-center" style="padding:64px 16px" id="">
               <h1 class="w3-jumbo"><b>Serap KOÇAK</b></h1>
               <p>Örgü Eğitmeniniz</p>
               <img src="/static/images/Back004.jpg" class="w3-image w3-hide-large w3-hide-small w3-round"
                    style="display:block;width:60%;margin:auto;">
               <img src="/static/images/Back004.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000"
                    height="1333">
          </header>

          <!-- Modeller Sayfası -->
          <div class="w3-padding-32 w3-content" id="portfolio">
               <h2 class="w3-text-grey">{{ Models[0]["GrubAdi"] }}</h2>
               <hr class="w3-opacity">

               <!-- Grid for photos -->
               {% for Model in Models: %}
               <div class="w3-row-padding w3-center"
                    style="background-color:rgb(34, 0, 90); margin:12px -16px; padding: 16px; box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);">

                    <div>
                         <img src="data:image/jpeg;base64,{{ Model['Base64Pict'] }}" style="width:100%">
                         <div style="color:yellow; padding-top: 16px; font-family: 'Playwrite NZ'; font-size: 32px;">
                              {{Model['ModelAdi']}}
                         </div>
                         <div style="color:aliceblue">Proje Tarihi: {{Model['YayinTarihi']}}
                         </div>
                         <div style="color:aliceblue; padding-top: 16px;">
                              Uyelerimizin Değerlemesi</div>
                         <div style="color:aliceblue">
                              {{Model.VerilenPuanSayisi}}-Kişi ( {{Model.OrtPuan}} / 5 )
                         </div>
                         <div style="color:aliceblue; padding-top: 16px;">
                              Single ProjeFiyatı
                         </div>
                         <div style="color:aliceblue;"> {{Model.Fiyati}}-TL</div>
                         <div style="color:aliceblue; padding-top: 16px;">
                              Proje İçeriği
                         </div>
                         <div style="color:aliceblue"> {{Model.ResimSayisi}}-Resim / {{Model.VideoSayisi}}-Video
                         </div>

                    </div>

               </div>
               {% endfor %}
          </div>



          <!-- Footer -->
          <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
               <i class="fa fa-facebook-official w3-hover-opacity"></i>
               <i class="fa fa-instagram w3-hover-opacity"></i>
               <i class="fa fa-snapchat w3-hover-opacity"></i>
               <i class="fa fa-pinterest-p w3-hover-opacity"></i>
               <i class="fa fa-twitter w3-hover-opacity"></i>
               <i class="fa fa-linkedin w3-hover-opacity"></i>
               <p class="w3-medium">Copyright From Ferhat CANTÜRK </p>
               <!-- End footer -->
          </footer>

          <!-- END PAGE CONTENT -->
     </div>

     <script>
          function openNav() {
               document.getElementById("mySidebar").style.width = "20%";
               document.getElementById("mySidebar").style.display = "block";
          }

          function closeNav() {
               document.getElementById("mySidebar").style.display = "none";
          }
     </script>

</body>

</html>