<!DOCTYPE html>
<html lang="tr">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Üyelik Sözleşmesi</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
          body,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
               font-family: "Lato", sans-serif;
          }

          .w3-bar,
          h1,
          button {
               font-family: "Montserrat", sans-serif;
          }

          .w3-content {
               max-width: 1200px;
               /* Adjusted for better content width */
               margin: auto;
               padding: 0 20px;
          }

          .w3-padding-64 {
               padding: 64px 0;
          }

          /* Additional custom styles can be added here */
     </style>
</head>

<body>

     <!-- Navbar -->
     <header class="w3-container w3-center" style="background-color: darkblue; color: white; padding: 10px 0;">
          <h1 class="w3-center">WebSitesi Üyelik Sözleşmesi</h1>
          <p class="w3-xlarge">Serap KOÇAK</p>
     </header>

     <!-- First Grid -->
     <div class="w3-row-padding w3-container" style="background-color: #fff; padding: 20px 0;">
          <div class="w3-content">
               <div class="w3-twothird">
                    <h1>WorkShop Abonelerimizin Üyelik Sözleşmesi</h1>
                    <h5 class="w3-padding-32">
                         Bu paketteki abonelikler bire bir Ankara'nın değişik ofislerinde bire bir eğitim destekli
                         olduğundan dolayı sadece Ankara'da ikamet eden veya haftanın belirli günleri Ankara'ya ulaşma
                         imkanı bulunan siz değerli Hanımlarımız için açılmıştır.
                    </h5>
                    <p class="w3-text-grey">
                    <ul>
                         <li>Ankara Tunalı Hilmi Caddesinde haftanın 6 günü yüz yüze eğitim verilmektedir.</li>
                         <li>Aylık olarak 4 adet proje üretilmekte olup bu projeler site üzerinden tarafınızla
                              paylaşılacaktır.</li>
                         <!-- Add more list items as necessary -->
                    </ul>
                    </p>
               </div>
               <div class="w3-third w3-center">
                    <i class="fa fa-warning fa-5x w3-padding-64 w3-text-red"></i>
               </div>
          </div>
     </div>

     <!-- Second Grid -->
     <div class="w3-row-padding w3-container" style="background-color: #c9d9c9; padding: 20px 0;">
          <div class="w3-content">
               <div class="w3-third w3-center">
                    <i class="fa fa-warning fa-5x w3-padding-64 w3-text-red"></i>
               </div>
               <div class="w3-twothird">
                    <h1>Aylık Abonelerimizin Üyelik Sözleşmesi</h1>
                    <h5 class="w3-padding-32">
                         Bu Abonelik paketi Ankara dışındaki siz değerli Hanımlarımız için açılmıştır.
                    </h5>
                    <p class="w3-text-grey">
                    <ul>
                         <li>Aylık olarak 4 adet proje üretilmektedir. Bu projeler site üzerinden tarafınıza
                              açılacaktır.</li>
                         <!-- Add more list items as necessary -->
                    </ul>
                    </p>
               </div>
          </div>
     </div>

     <!-- Third Grid -->
     <div class="w3-row-padding w3-container" style="background-color: #fff; padding: 20px 0;">
          <div class="w3-content">
               <div class="w3-twothird">
                    <h1>Single Proje Abonelerimizin Üyelik Sözleşmesi</h1>
                    <h5 class="w3-padding-32">
                         Bu paket ise tek bir proje talep eden Hanımlarımız için açılmıştır.
                    </h5>
                    <p class="w3-text-grey">
                    <ul>
                         <li>Tarafınıza girişini yaptığınız e-mail adresi, GSM numarası ve kullanıcı adınıza özel olarak
                              aboneliğiniz oluşturulacaktır.</li>
                         <!-- Add more list items as necessary -->
                    </ul>
                    </p>
               </div>
               <div class="w3-third w3-center">
                    <i class="fa fa-warning fa-5x w3-padding-64 w3-text-red"></i>
               </div>
          </div>
     </div>

     <!-- Bank Account Information -->
     <div class="w3-center" style="background-color: #5c003c; color: white; padding: 20px 0;">
          <i class="fa fa-slack" aria-hidden="true"></i> Banka Hesap Numaralarımız <i class="fa fa-slack"
               aria-hidden="true"></i>
          <br><br>
          <img class="IsBank" src="/static/images/IconBanka-1.png" style="width: 200px; padding-bottom: 20px;"
               alt="Bank Logo">
          <br>
          <div for="IsBank">Serap KOÇAK</div>
          <div for="IsBank">Türkiye İş Bankası</div>
          <div for="IsBank">Ankara-Çankaya Şubesi</div>
          <div for="IsBank" style="font-size: 12px;">TR12 3456 7890 1234 5678 9012 34</div>
     </div>

     <!-- Footer -->
     <footer class="w3-container w3-padding-64 w3-center w3-opacity" style="background-color: #f2f2f2; color: #333;">
          <div class="w3-xlarge w3-padding-32">
               <a href="#" class="fa fa-facebook-official w3-hover-opacity"></a>
               <a href="#" class="fa fa-instagram w3-hover-opacity"></a>
               <a href="#" class="fa fa-snapchat w3-hover-opacity"></a>
               <a href="#" class="fa fa-pinterest-p w3-hover-opacity"></a>
               <a href="#" class="fa fa-twitter w3-hover-opacity"></a>
               <a href="#" class="fa fa-linkedin w3-hover-opacity"></a>
          </div>
          <p>Copyright 2024 From Ferhat CANTÜRK</p>
     </footer>

     <script>
          // Optional JavaScript for toggling the menu on small screens
          function myFunction() {
               var x = document.getElementById("navDemo");
               if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
               } else {
                    x.className = x.className.replace(" w3-show", "");
               }
          }
     </script>

</body>

</html>